OPENAI_API_VERSION=2024-12-01-preview
OPENAI_API_ENDPOINT=https://aideveloper-assessment.openai.azure.com/
OPENAI_API_CREDENTIAL=your_api_credential

GRAPHQL_API_URL=https://jluatgraphqlapi-atc2asbnb5gxbehw.westeurope-01.azurewebsites.net/api/tenancy/373daf38-e716-4097-81cc-4f1f1dc99820/graphql-v2
GRAPHQL_SCHEMA_URL=https://jluatgraphqlapi-atc2asbnb5gxbehw.westeurope-01.azurewebsites.net/graphql-v2/schema.graphql 